@import './variables.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, Arial, sans-serif;
  transition: background-color 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    color 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.1s;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html.dark {
  body {
    background-color: $dark;
    color: $dark-text;
  }
}

html.light {
  body {
    background-color: $light;
    color: $light-text;
  }
}

@each $value in left center right {
  .text-#{$value} {
    text-align: $value;
  }
}

/* Responsive Design */
/* 风格参考: https://tailwindcss.com/ */

$grid-columns: 24;
$media-query: (
  'sm': 640 /* Small (sm) */,
  'md': 768 /* Medium (md) */,
  'lg': 1024 /* Large (lg) */,
  'xl': 1280 /* Extra Large (xl) */,
);
@each $tag, $point in $media-query {
  @media (min-width: #{$point}px) {
    .#{$tag}\:flex {
      display: flex !important;
    }

    .#{$tag}\:flex-column {
      flex-direction: column !important;
    }

    .#{$tag}\:justify-center {
      justify-content: center !important;
    }

    .#{$tag}\:justify-around {
      justify-content: space-around !important;
    }

    .#{$tag}\:justify-between {
      justify-content: space-between !important;
    }

    .#{$tag}\:align-center {
      align-items: center !important;
    }

    .#{$tag}\:align-self-center {
      align-self: center !important;
    }

    @for $index from 1 through $grid-columns {
      .#{$tag}\:w-#{$index}\/#{$grid-columns} {
        width: $index / $grid-columns * 100% !important;
      }
    }

    @for $index from 1 through 10 {
      .#{$tag}\:order-#{$index} {
        order: $index !important;
      }
    }
  }
}
